#root {
  width: 100%;
  margin: 0;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/* Estilos para elementos con transformación */
.transform-hover {
  transition: all 0.3s ease-in-out;
}

.transform-hover:hover {
  scale: 1.1;
}

/* Estilos para elementos con outline */
.focus-outline:focus {
  box-shadow: 0 0 0 2px #646cff;
  outline: none;
}
